.header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.logo {
  color: rgb(158, 7, 7);
  font-size: 26px;
  cursor: pointer;
}

.nav_Link {
  cursor: pointer;
  background-color: rgb(35, 16, 146);
  color: white;
  border: none;
  padding: 5px 30px;
  border-radius: 30px;
}
